
.container {
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    padding: 20px;
    text-align: center;
  }
  

  .container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  

  app-cocktail-list {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  